<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fooddonationappadmin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDonationAppAdmin">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main Activities -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewDonations"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewRequests"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewUsersActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TransactionInfoActivity"
            android:exported="false"
            android:parentActivityName=".ViewRequests"/>
    </application>

</manifest>